---
cart: true
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
<div class="page">

    <div class="page-content page-cart-content" data-cart>

        {{> components/cart/page-title}}

        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>

            <div data-cart-content class="cart-content-padding-right data-cart-content-left">
                {{> components/cart/content}}
            </div>
            <div class="cart-continue">
                <div class="cart-actions">
                    <a class="button" href="https://www.panoramas.com" title="Continue Shopping">Continue Shopping</a>
                </div>
            </div>
            <div data-cart-totals class="cart-content-padding-right data-cart-totals-right">
                {{> components/cart/totals}}
            </div>
            {{{region name="cart_below_totals"}}}
            <div class="cart-checkout-bottom">
            {{#or customer (unless settings.hide_price_from_guests)}}
                {{#if cart.show_primary_checkout_button}}
                    <div class="cart-actions cart-content-padding-right">
                        <a
                            class="button button--primary"
                            href="{{urls.checkout.single_address}}"
                            title="{{lang 'cart.checkout.title'}}"
                            data-primary-checkout-now-action
                        >
                            {{lang 'cart.checkout.button'}}
                        </a>
                        {{#if cart.show_multiple_address_shipping}}
                            <a class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                                {{lang 'cart.preview.checkout_multiple'}}
                            </a>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="cart-actions cart-content-padding-right">
                        <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                    </div>
                {{/if}}

                {{#if cart.additional_checkout_buttons}}
                    <div data-cart-additional-checkout-buttons class="cart-additionalCheckoutButtons cart-content-padding-right">
                        {{> components/cart/additional-checkout-buttons}}
                    </div>
                {{/if}}
            </div>
            {{else}}
                <div class="cart-actions cart-content-padding-right">
                    <a class="button" href="{{urls.auth.login}}" title="{{lang 'cart.login_to_checkout'}}">{{lang 'cart.login_to_checkout'}}</a>
                </div>
            {{/or}}

        {{else}}
            <h3 tabindex="0">{{lang 'cart.checkout.empty_cart'}}</h3>
        {{/if}}

    </div>
    <div class="cart-footer">
        <div class="cart-footer-inner">
            <div class="cart-footer-section">
                <h4>Questions?</h4>
                <p>Call <a href="tel:18003347266" style="white-space:nowrap;">1-800-334-7266</a></p>
            </div>
            <div class="cart-footer-section">
                <h4 style="white-space:nowrap;">Easy Returns</h4>
                <p>Within 30 Days</p>
            </div>
            <div class="cart-footer-section">
                <h4 style="white-space:nowrap;">Secure Shopping</h4>
                <p>256 Bit Encryption</p>
        </div>
    </div>
</div>
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{/partial}}
{{> layout/base}}
<script src=https://widget.sezzle.com/v1/javascript/price-widget?uuid=d44b557e-d238-44d9-8f5f-cc04c3413d07></script>
