// =============================================================================
// WRITE A REVIEW (CSS)
// =============================================================================

.writeReview-productDetails {

    @include breakpoint("medium") {
        @include grid-column(6);
    }

    .product-brand {
        color: color("greys", "light");
        margin: 0;
	  display:none;
    }

    .product-title {
        margin-top: 1rem;
        font-weight:500;
        text-transform:none;
        letter-spacing:-.5px;
        font-size:1rem;
        color:#000;
    }
}


.writeReview-form {

    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.writeReview-productImage-container {

    @include lazy-loaded-padding("product_size");
    position: relative;

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: "object-fit: contain;";
        height: 100%;
        object-fit: contain;
    }
}
#modal-review-form.modal.open div.modal-content div.modal-body form.form.writeReview-form fieldset.form-fieldset div.form-field.form-field--submit input.button.button--primary {
	text-transform:uppercase;
	font-weight:500;
	padding-top:17px;
}
