<ul class="cart-totals">
    <li class="cart-total">
        <div class="cart-total-label">
            {{lang 'cart.checkout.subtotal'}}:
        </div>
        <div class="cart-total-value">
            {{#or customer (unless settings.hide_price_from_guests)}}
                <span>{{cart.sub_total.formatted}}</span>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </li>
    {{#if cart.gift_wrapping_cost.value}}
        <li class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.checkout.gift_wrapping'}}:
            </div>
            <div class="cart-total-value">
                <span>{{cart.gift_wrapping_cost.formatted}}</span>
            </div>
        </li>
    {{/if}}
    {{#if cart.fees}}
        {{#each cart.fees}}
            <li class="cart-total">
                <div class="cart-total-label">
                   {{display_name}}:
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/each}}
    {{/if}}
    {{#if cart.shipping_handling.show_estimator}}
        <li class="cart-total">
            <div class="cart-total-edd"><p>Add your info to see shipping fees & estimated delivery date.</p></div>
            <div class="cart-total-label">
                {{lang 'cart.checkout.shipping'}}:
            </div>
            {{> components/cart/shipping-estimator cart.shipping_handling}}
        </li>
    {{/if}}
    {{#each cart.taxes}}
        {{#unless included}}
            <li class="cart-total">
                <div class="cart-total-label">
                    {{name}}:
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/unless}}
    {{/each}}
    {{#if cart.discount }}
        <li class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.discount'}}:
            </div>
            <div class="cart-total-value">
                {{cart.discount.formatted}}
            </div>
        </li>
    {{/if}}
    {{#if cart.coupons}}
        {{#each cart.coupons}}
            <li class="cart-total">
                <div class="cart-total-label">
                    {{lang 'cart.coupons.code_label' code=code}}
                    <div>
                        <a href="{{remove_url}}">{{lang 'cart.coupons.remove'}}</a>
                    </div>
                </div>
                <div class="cart-total-value">
                    <span>{{discount.formatted}}</span>
                </div>
            </li>
        {{/each}}
    {{else}}
        <li class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.coupon_code'}}:
            </div>
            {{> components/cart/coupon-input}}
        </li>
    {{/if}}
    {{#if settings.gift_certificates_enabled}}
        {{#each cart.gift_certificates}}
            <li class="cart-total">
                <div class="cart-total-label">
                    {{lang 'cart.gift_certificates.code_label' code=code}}
                    <span>
                        {{remaining.formatted}} | <a href="{{remove_url}}">{{lang 'cart.gift_certificates.remove'}}</a>
                    </span>
                </div>
                <div class="cart-total-value">
                    {{used.formatted}}
                </div>
            </li>
        {{/each}}
        <li class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.gift_certificates.gift_certificate'}}:
            </div>
            {{> components/cart/gift-certificate-input}}
        </li>
    {{/if}}
    <li class="cart-total cart-grandtotal-bottom">
        <div class="cart-total-label">
            {{lang 'cart.checkout.grand_total'}}:
        </div>
        <div class="cart-total-value cart-total-grandTotal">
            {{#or customer (unless settings.hide_price_from_guests)}}
                <span>{{cart.grand_total.formatted}}</span>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </li>
    {{#each cart.taxes}}
        {{#if included}}
            <li class="cart-total">
                <div class="cart-total-label">
                    {{concat name (lang 'cart.included_in_total')}}:
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>
