// =============================================================================
// PRODUCT REVIEWS (CSS)
// =============================================================================


// Review list
//
// 1. Kill extra display inline-block spacing
// -----------------------------------------------------------------------------

.productReviews-list {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1
}


// Review item
// -----------------------------------------------------------------------------

.productReview {
    @include grid-column(12);
    display: inline-block;
    float: none;
    font-size: fontSize("base");
    vertical-align: top;
    max-width:45%;
    border:none;
    margin:.5rem 1rem 1rem;
    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(4, $total-columns);
    }
}
.productReview-title {
    margin: 0;
    text-transform: none;
    font-weight: 500;
    color: #000;
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 1em;
    letter-spacing:-1px;
}
.productReview-author {
    color: stencilColor("color-textSecondary");
    margin-bottom: spacing("base");
    font-size:14px;
    font-weight:500;
    text-transform:uppercase;
    color:#000;
}

.productReview-rating {
    display: inline-block;
    margin-bottom: spacing("quarter");
}

.productReview-ratingNumber {
    @include u-hidden("visually");
}
div.productView-rating {
    vertical-align: middle;
    color: #096bc4;
}
.footer-payment-icons svg, .icon--ratingFull svg {
    fill: #FFDA44;
}
