@mixin addFocusTooltip ($attr: title) {
    &::before {
        border-color: transparent transparent $focusTooltip-backgroundColor transparent;
        border-style: solid;
        border-width: remCalc(10px);
        content: " ";
        position: absolute;
        right: 0;
        top: 50%;
    }

    &::after {
        background-color: #000;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        color: #FFF;
        content: attr($attr);
        cursor: default;
        font-size: .9rem;
        padding: 0.25rem 0.375rem;
        position: absolute;
        right: 0;
        top: 100%;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
    }

    &::before,
    &::after {
        display: none;
    }

    &:focus {
        &::before,
        &::after {
            display: block;
        }
    }
}
